.description{
    display: flex;
    padding-top: 50px;
    padding-top: 50px;
    height: auto;    
}

.image-container{
    flex-wrap: inherit;
    align-items: right;
}


img{
    max-height:100%;
    max-width: 100%;
    width: auto;
    max-height: 450px;
    margin: auto;
}

h1{
    color: RGB(76, 175, 80,1);
    font-size: 45px;
}

.text-container{
    min-width: 50%;
    width: 50%;
}

#heading{
    padding-top: 10%;
    padding-left: 30px;
    padding-bottom: 10px;
}

p {
    padding-left:20px;
    padding-right:20px;
    font-size: 23px;
    text-align: justify;
    text-justify: inter-word;
}