.description{
    display: flex;
    padding-top: 50px;
    height: 400px;
}

.image-container{
    flex-grow: 1;
}


img{
    max-height:100%;
    width: auto;
    align-items: right;
}

h1{
    color: RGB(76, 175, 80,1);
}

.text-container{
    min-width: 55%;
    width: 55%;
}

#heading{
    padding-top: 10%;
    padding-left: 30px;
    padding-bottom: 10px;
}

p {
    padding-left:20px;
    padding-right:20px;
    font-size: 23px;
}